.DS_Store
node_modules
data.db

# Build output
.svelte-kit
*.msix
build
target/

# Env variables and secrets
.env
.env.*
*.pem
*.key*

# IDE settings
.idea/

# Vite output
vite.config.js.timestamp-*
vite.config.ts.timestamp-*
__screenshots__