.DS_Store
*.db
*.sqlite

# Build output
.svelte-kit/
node_modules/
*.msix
build/
target/

# Env variables and secrets
.env
.env.*
*.pem
*.key*

# IDE settings
.idea/

# Vite output
vite.config.js.timestamp-*
vite.config.ts.timestamp-*
__screenshots__