* text eol=lf
# Force line endings in migrations to line feeds (LF) on all platforms to avoid changing checksums
*.sql text eol=lf

*.png binary
*.icns binary
*.ico binary
*.webp binary
*.jpg binary
*.tff binary
*.woff binary
*.otf binary
*.exe binary
*.dll binary
*.msix binary
