.DS_Store
*.db
logs/

# Build output
.svelte-kit
*.msix
build
target/
node_modules/

# Env variables and secrets
.env
.env.*
*.pem
*.key*

# IDE settings
.idea/
.vs/

# Vite output
vite.config.js.timestamp-*
vite.config.ts.timestamp-*
__screenshots__