
button{
	cursor: pointer;
}

@layer components{
    .btn{
        display: flex;
        align-items: center;
        justify-content: center;
        transition: all 250ms;
    }

    .btn-small{
        padding: 4px 8px;
        gap: 4px;
        border-radius: var(--radius-sm);
    }

    .btn-medium{
        padding: 8px 12px;
        gap: 8px;
        border-radius: var(--radius-md);
    }
    
    .btn-primary{
        background-color: var(--color-surface-primary);
        color: var(--color-white);
        
        &:hover{
            background-color: var(--color-surface-primary-hover);
        }
        
        &:active{
            background-color: var(--color-surface-primary-active);
        }
    }
    
    .btn-neutral{
        background-color: var(--color-neutral-50);
        
        &:hover{
            background-color: var(--color-neutral-100);
        }
        
        &:active{
            background-color: var(--color-neutral-200);
        }
    }

    .btn-bordered{
        border: 1px solid var(--color-neutral-50);

        &:hover{
            background-color: var(--color-neutral-25);
        }

        &:active{
            background-color: var(--color-neutral-50);
        }
    }

    .btn-secondary{
        background-color: var(--color-neutral-950);
        color: var(--color-white);

        &:hover{
            background-color: var(--color-neutral-900);
        }

        &:active{
            background-color: var(--color-neutral-800);
        }
    }

    .btn-ghost{
        &:hover{
            background-color: var(--color-neutral-25);
        }

        &:active{
            background-color: var(--color-neutral-50);
        }
    }
}


