
@layer utilities {

    .data-table{

    }

    .data-row, .data-header{
        display: flex;
        border-bottom: 1px solid var(--color-neutral-50);
    }

    .data-header{
        font-weight: var(--font-weight-medium);
        border-top: 1px solid var(--color-neutral-50);
        color: var(--color-text-muted);
    }

    .data-row[data-selected="true"] {
        background: var(--color-purple-50);
    }

    .data-cell{
        /*display: flex;*/
        display: table-cell;
        align-items: center;
        width: 100%;
        flex: 1;
        padding: 8px 16px;


        &:focus-within{
            background: var(--color-purple-50);
            border-color: var(--color-purple-500);
        }
    }

}
