
@layer components {
    /* .transaction-table{
        table-layout: fixed;
        width: 100%;
    }

    .table-data,.table-head{
        text-align: left;

        &:last-child{
            text-align: right;
        }

        padding: 8px 16px;
        border: 1px solid var(--color-neutral-50);
    }

    .table-header{
        background: var(--color-neutral-25);
    }

    .table-row{
        border-bottom: 1px solid var(--color-neutral-50);

        &:first-child{
            border-top: 1px solid var(--color-neutral-50);
        }
    } */

}
