
@layer components {
    .transaction-table{
        width: 100%;
        border-collapse:separate;
        table-layout: fixed;
        border-spacing: 0;


        .table-header{
            width: 100%;
            color: var(--color-text-muted);
            padding: 12px;
            text-align: left;
        }

        .table-data {
            align-items: center;
            padding: 12px;
            border: 2px solid var(--color-neutral-50);
            transition: all 250ms;

            &:focus-within{
                border-color: var(--color-border-focus);
            }
        }
    }

}
