@layer components{
    .data-table{
        display: grid;
        grid-template-columns: auto 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    }

    .data-row, .data-header{
        display: grid;
        grid-column: 1/-1;
        grid-template-columns: subgrid;
        border-bottom: 1px solid var(--color-neutral-50);
    }

    .data-header{
        font-weight: var(--font-weight-medium);
        border-top: 1px solid var(--color-neutral-50);
        color: var(--color-text-muted);
    }

    .data-row[data-selected="true"] {
        background: var(--color-purple-50);
    }

    .data-cell{
        /*display: flex;*/
        vertical-align: middle;
        white-space: nowrap;
        padding: 8px 16px;
        width: 100%;
        grid-template-columns: subgrid;

        &:focus-within{
            background: var(--color-purple-50);
            border-color: var(--color-purple-500);
        }
    }

    .checkbox-cell{
        width: fit-content;
    }
}
