
@layer components{
    .segmented-tabs{
        [data-tabs-list]{
            display: flex;
            padding: 2px;
            border-radius: var(--radius-full);
        }

        [data-tabs-trigger]{
            flex: 1;
            padding: 8px 12px;
            border-radius: var(--radius-full);
        }
    }


    .segmented-tabs-primary{
        [data-tabs-list]{
            background: var(--color-neutral-25);
        }

        [data-tabs-trigger]{
            &[data-state="active"]{
                background: var(--color-surface-primary);
                color: var(--color-white);
            }

            &[data-state="inactive"]:hover{
                background: var(--color-neutral-50);
                color: var(--color-text-body);
            }
        }
    }

    .segmented-tabs-neutral{
        [data-tabs-list]{
            background: var(--color-neutral-25);
        }

        [data-tabs-trigger]{
            &[data-state="active"]{
                background: var(--color-neutral-50);
            }

            &[data-state="inactive"]:hover{
                background: var(--color-neutral-50);
            }
        }
    }
}
