name: CI/CD
env:
  DATABASE_URL: sqlite://data.db
  CARGO_TERM_COLOR: always
on:
  pull_request:
    branches: ["main"]
  push:
    branches: ["main"]
concurrency:
  group: ci-${{github.ref}}-${{github.workflow}}
  cancel-in-progress: true
jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: pnpm/action-setup@v4
        with:
          version: 10
          run_install: false
      - uses: actions/setup-node@v6
        with:
          node-version: 24
          cache: pnpm
      - run: pnpm install --frozen-lockfile
      - name: Run pnpm lint
        run: pnpm lint
  check:
    runs-on: ubuntu-latest
    env:
      PERSONAL_ACCESS_TOKEN: ${{secrets.PERSONAL_ACCESS_TOKEN}}
    steps:
      - uses: actions/checkout@v4
      - uses: pnpm/action-setup@v4
        with:
          version: 10
          run_install: false
      - uses: actions/setup-node@v6
        with:
          node-version: 24
          cache: pnpm
      - run: pnpm install --frozen-lockfile
      - name: Run pnpm check
        run: pnpm -r check
  clippy:
    runs-on: macos-latest
    steps:
      - uses: actions/checkout@v4
      - uses: Swatinem/rust-cache@v2
        with:
          workspaces: packages/desktop/src-tauri -> target
      - uses: actions/cache@v4
        id: cache-sqlx
        with:
          key: cargo-sqlx-cache-${{runner.os}} # Permanently cache sqlx
          path: ~/.cargo/bin
      - name: Install sqlx-cli
        if: ${{steps.cache-sqlx.outputs.cache-hit != 'true'}}
        run: cargo install sqlx-cli --force
      - name: Setup database
        run: |
          cd packages/desktop/src-tauri
          cargo sqlx database create
          cargo sqlx migrate run
      - name: Run cargo clippy
        run: |
          cd packages/desktop/src-tauri
          cargo clippy --all-features --all-targets -- -D warnings
  format:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Check formatting
        run: |
          cd packages/desktop/src-tauri
          cargo fmt --check
  test-frontend:
    permissions:
      pull-requests: write
      checks: write
    env:
      PERSONAL_ACCESS_TOKEN: ${{secrets.PERSONAL_ACCESS_TOKEN}}
    runs-on: macos-latest
    steps:
      - uses: actions/checkout@v4
      - uses: pnpm/action-setup@v4
        with:
          version: 10
          run_install: false
      - uses: actions/setup-node@v6
        with:
          node-version: 24
          cache: pnpm
      - run: pnpm install --frozen-lockfile
      - name: Install playwright browsers
        run: pnpm playwright install --with-deps
      - name: Run tests
        run: pnpm -r test:headless
  build-frontend:
    runs-on: macos-latest
    env:
      PERSONAL_ACCESS_TOKEN: ${{secrets.PERSONAL_ACCESS_TOKEN}}
    steps:
      - uses: actions/checkout@v4
      - uses: pnpm/action-setup@v4
        with:
          version: 10
          run_install: false
      - uses: actions/setup-node@v6
        with:
          node-version: 24
          cache: pnpm
      - run: pnpm install --frozen-lockfile
      - name: Build frontend
        run: pnpm -r build
  test:
    strategy:
      fail-fast: false
      matrix:
        os: [windows-latest, macos-latest, ubuntu-latest]
    runs-on: ${{matrix.os}}
    steps:
      - uses: actions/checkout@v4
      - uses: actions/cache@v4
        name: Cache cargo binaries
        id: cache-cargo-bin
        with:
          key: cargo-bin-cache-${{runner.os}}
          path: ~/.cargo/bin
      - name: Install sqlx-cli
        if: ${{steps.cache-cargo-bin.outputs.cache-hit != 'true'}}
        run: cargo install sqlx-cli --force
      - uses: Swatinem/rust-cache@v2
        with:
          workspaces: packages/desktop/src-tauri -> target

      - uses: taiki-e/install-action@nextest
      - name: Setup database
        run: |
          cd packages/desktop/src-tauri
          cargo sqlx database create
          cargo sqlx migrate run
      - name: Install system dependencies
        if: ${{runner.os == 'Linux'}}
        run: |
          sudo apt update
          sudo apt install libwebkit2gtk-4.1-dev \
            build-essential \
            curl \
            wget \
            file \
            libxdo-dev \
            libssl-dev \
            libayatana-appindicator3-dev \
            librsvg2-dev
      - name: Run tests
        run: |
          cd packages/desktop/src-tauri
          cargo nextest run --locked
  bundle:
    strategy:
      fail-fast: false
      matrix:
        os: [windows-latest, macos-latest, ubuntu-latest]
    runs-on: ${{matrix.os}}
    steps:
      - uses: actions/checkout@v4
      - uses: actions/cache@v4
        name: Cache cargo binaries
        id: cache-cargo-bin
        with:
          key: cargo-bin-cache-${{runner.os}}
          path: ~/.cargo/bin
      - name: Install sqlx-cli
        if: ${{steps.cache-cargo-bin.outputs.cache-hit != 'true'}}
        run: cargo install sqlx-cli --force
      - uses: Swatinem/rust-cache@v2
        with:
          workspaces: packages/desktop/src-tauri -> target

      - uses: taiki-e/install-action@nextest
      - name: Setup database
        run: |
          cd packages/desktop/src-tauri
          cargo sqlx database create
          cargo sqlx migrate run
      - name: Install system dependencies
        if: ${{runner.os == 'Linux'}}
        run: |
          sudo apt update
          sudo apt install libwebkit2gtk-4.1-dev \
            build-essential \
            curl \
            wget \
            file \
            libxdo-dev \
            libssl-dev \
            libayatana-appindicator3-dev \
            librsvg2-dev
      - name: Build app
        run: pnpm -F desktop tauri build --no-bundle
      - name: Bundle app
        run: pnpm -F desktop tauri bundle
  pass:
    needs:
      - format
      - lint
      - clippy
      - check
      - test
      - test-frontend
      - build-frontend
    runs-on: ubuntu-latest
    steps:
      - name: Complete
        run: echo All good!
