name: Release Folio desktop
env:
  CARGO_TERM_COLOR: always
  DATABASE_URL: sqlite://data.db
on:
  workflow_dispatch:
  pull_request:
    branches: [main]
concurrency:
  group: ci-${{github.ref}}-${{github.workflow}}
  cancel-in-progress: true
jobs:
  build:
    strategy:
      fail-fast: false
      matrix:
        os: [windows-latest,macos-latest,ubuntu-latest]
    runs-on: ${{matrix.os}}
    steps:
      - uses: actions/checkout@v4
      - uses: pnpm/action-setup@v4
        with:
          version: 10
          run_install: false
      - uses: actions/setup-node@v6
        with:
          node-version: 24
          cache: pnpm
      - uses: Swatinem/rust-cache@v2
        with:
          workspaces: packages/desktop/src-tauri -> target
      - uses: actions/cache@v4
        id: cache-cargo-bin
        name: Cache cargo binaries
        with:
          key: cargo-cargo-bin-cache-${{runner.os}}
          path: ~/.cargo/bin
      - uses: taiki-e/install-action@nextest
      - name: Install binaries
        if: ${{steps.cache-cargo-bin.outputs.cache-hit != 'true'}}
        run: |
          cargo install sqlx-cli cargo-packager --locked --force
      - name: Setup database
        run: |
          cd packages/desktop/src-tauri
          cargo sqlx database create
          cargo sqlx migrate run
      - name: Install system dependencies
        if: ${{runner.os == 'Linux'}}
        run: |
          sudo apt update
          sudo apt install libwebkit2gtk-4.1-dev \
            build-essential \
            curl \
            wget \
            file \
            libxdo-dev \
            libssl-dev \
            libayatana-appindicator3-dev \
            librsvg2-dev
      - run: pnpm install --frozen-lockfile
      - name: Bundle app
        run: pnpm -F desktop tauri build
      - name: Build pacman
        if: ${{runner.os == 'Linux'}}
        run: cargo packager --release formats pacman
      - name: Upload artifacts
        uses: actions/upload-artifact@v4
        with:
          name: folio-upload-${{ matrix.os }}
          path: |
            packages/desktop/src-tauri/target/release/**/*.deb
            packages/desktop/src-tauri/target/release/**/*.rpm
            packages/desktop/src-tauri/target/release/**/PKGBUILD
            packages/desktop/src-tauri/target/release/**/*AppImage
            packages/desktop/src-tauri/target/release/**/*.msi
            packages/desktop/src-tauri/target/release/**/*-setup.exe
            packages/desktop/src-tauri/target/release/**/*.dmg
            packages/desktop/src-tauri/target/release/**/*.tar.gz
  release:
    if: ${{ github.event_name == 'workflow_dispatch' }}
    permissions:
      contents: write
    needs: build
    runs-on: ubuntu-latest
    steps:
      - uses: actions/download-artifact@v4
        with:
          pattern: folio-upload-*
          merge-multiple: true
          path: artifacts
      - name: Create draft release
        uses: softprops/action-gh-release@v2
        with:
          name: Folio vx.x.x
          files: |
            CHANGELOG.md
            artifacts/**/*
          body_path: CHANGELOG.md
          draft: true

